<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>      
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ArabaKiralamaDB</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <property name="hibernate.show_sql">true</property>        
        <property name="hibernate.format_sql">true</property>
        
        <mapping class="com.muhammethoca.arabakiralama.repository.entity.Adres"></mapping>
        <mapping class="com.muhammethoca.arabakiralama.repository.entity.Araba"></mapping>
        <mapping class="com.muhammethoca.arabakiralama.repository.entity.Kiralama"></mapping>
        <mapping class="com.muhammethoca.arabakiralama.repository.entity.Musteri"></mapping>
        <mapping class="com.muhammethoca.arabakiralama.repository.entity.Personel"></mapping>
        <mapping class="com.muhammethoca.arabakiralama.repository.entity.Departman"></mapping>
        
    </session-factory>
</hibernate-configuration>